<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <%= errors_for(user) %>
    <br />
  <% end %>
  <div class="form-group">
    <%= form.label :username do %>
      Username
      <a style="color: red;"> *</a>
    <% end %>
    <%= form.text_field :username, id: :user_username, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :phone_number do %>
      Phone Number
      <a style="color: red;"> *</a>
    <% end %>
    <%= form.text_field :phone_number, id: :user_phone_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :password do %>
      Password
      <a style="color: red;"> *</a>
    <% end %>
    <%= form.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :password_confirmation do %>
      Password Confirmation
      <a style="color: red;"> *</a>
    <% end %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="btn-group float-right" role="group">
    <%= link_to 'Back', users_path, class: 'btn btn-outline-secondary' %>
    <%= form.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
