<%= render 'shared/notice' %>

<h1>Users</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Phone</th>
      <th colspan="1" style="width: 1px;"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.phone_number %></td>
        <td>
          <div class="btn-group" role="group">
            <%= link_to "Show", user, class: "btn btn-outline-secondary btn-sm"%>
            <%= link_to "Edit", edit_user_path(user), class: "btn btn-outline-secondary btn-sm"%>
            <%= link_to "Destroy", user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm" %></td>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
