<%= form_tag user_sessions_path, :method => :post do %>
  <div class="form-group">
    <%= label_tag :phone_number do %>
      Username or Phone Number
      <br />
    <% end %>
    <%= text_field_tag :phone_number, '', class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :password %><br />
    <%= password_field_tag :password, '', class: "form-control" %>
  </div>
  <%= submit_tag "Login", class: "btn btn-primary" %>
<% end %>
