<!DOCTYPE html>
<html>
  <head>
    <title>ThomasFireHelp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Raleway', media: 'all' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Montserrat', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
