<!DOCTYPE html>
<html>
  <head>
    <title>ThomasFireHelp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Raleway', media: 'all' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Montserrat', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to 'Logout', :logout, method: :post %>
    <% else %>
      <%= link_to 'Login', :login %>
      <%= link_to 'Sign Up', :signup %>
    <% end %>
    <% if current_user && !current_user.verified %>
      <%= link_to "Verfiy your account", verify_user_path(current_user) %>
      OR
      <%= link_to "Resend verification", resend_verification_user_path(current_user) %>
    <% end %>
    <%= yield %>
  </body>
</html>
